body{
    margin: 0;
    background-color: #121217;
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

a{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    transition: color ease-in-out 0.2s;
}

a:hover{
    color: #cfcfcf;
}

/*  HEADER  */
header{
    display: grid;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: #E5E8EB solid 1px;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    background-color: #121217;
}
header > h1{
    justify-self: left;
    align-self: center;
    font-weight: bold;
}
header > button{
    all: unset;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: color, background ease-in-out 0.25s;
}
header > button:hover:not(.active){
    color: black;
    background-color: white;
    
}
header > button.active{
    background-color: #2B6BED;
}
header > button.active:hover{
    background-color: #112c63;
    
}

/*  FOOTER */
footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-top: #E5E8EB solid 1px;
    background-color: #121217;
    bottom: 0;
    gap: 25px;
    width: 100%;
    height: 125px;
    align-items: center;
    justify-content: center;
}

footer > p {
    margin: 0;
}

#links{
    display: flex;
    gap: 15px;
    height: 25%;
}

#links > img{
    height: 100%;
    transition: filter ease-in-out 0.2s;
    cursor: pointer;
}

#links > img:hover{
    filter: drop-shadow(0 0 5px rgb(186, 196, 221));
}

/*  SECTION */
#section-carrousel{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 225px);
}

#section-carrousel > section{
    margin-top: 50px;
    margin-bottom: 50px;
}

#section-carrousel::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

#section-carrousel::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

    /*  ABOUT ME */
    #about{
        display: flex;
        width: 75vw;
        flex-direction: column;
        align-items: center;
    }


